<template>
  <div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          v-model="username"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          v-model="password"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" v-on:click="loginApp()">
        Submit
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    loginApp: function () {
      this.$http({
        method: "post",
        url: "http://192.168.1.13:80/my-vue/P1Controller/C1Admin/SelectAllByWhat.php",
        headers: {
          "Content-type": "application/json",
        },
        data: {
          what: "0",
          username: this.username,
          password: this.password,
        },
      }).then((res) => {
        console.log(res.data["token"]);
        if (res.data.data.length > 0) {
          localStorage.setItem("token", res.data["token"]);
          this.$router.push({ name: "Home" });
        } else {
          alert("Tai Khoan Khong Ton Tai !!!");
        }
      });
    },
  },
};
</script>

<style scoped>
.container {
  width: 500px;
}
</style>